.buyer-header {
    text-align: center;
}

.buyer-nav {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-nav {
    display: flex;
    margin-left: 10px;
    align-items: center;
}

.left-nav button {
    padding: 10px;
    margin: 5px;
}
.right-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
}
.buyer-button{
    height: 40px;
}
.buyer-name{
    background-color: beige;
    margin-right: 10px;
    color: aqua;
}