.admin-order-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.admin-order-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.admin-order-table th,
.admin-order-table td {
    padding: 12px 15px;
}

.admin-order-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.admin-order-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.admin-order-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.order-management-container{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
}